footer
{
    border-top: 2px solid #ff8b5e;
    background-color: rgb(228, 122, 143);
    padding-bottom: 15px;
}
.footer-item
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.footer-btn
{
    padding: 15px 20px;
    background-color: #ff5e8e;
        color: #ffffffff;
    border: none;
    box-shadow: 1px 3px 1px 3px #c55669;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0px 10px;
}
.footer-btn:hover
{
    background-color: #ff8b5e;
    box-shadow: 1px 3px 1px 3px #c46641;
}
.form-name , .form-email , .search
{
    padding: 15px 20px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-item
{
    position: relative;
}
.scroll-start
{
    position: absolute;
    background-color: #ffffffff;
    right: 0;
    top:0;
    border: 2px solid #e08484;
}
.tweet-message
{
    line-height: 1.5;
}