.post-item
{
    background-color: rgb(255, 214, 235);
    margin-bottom: 20px;
    padding: 20px 20px;
}
.post-categoria
{
    padding: 5px 10px;
    border: solid #ff8b5e 2px;
    border-radius: 5px;
    margin-top: 40px;
    text-align: center;
}
.post-categoria:hover
{
    background-color: #ff8b5e;
}
.post-img>img
{
    width:90%;
    border: 2px solid #ff5e8e;
    margin-top: 30px;
}
.post-img{
    text-align: center;

}
.continue-btn
{
    padding: 15px 20px;
    background-color: #ff5e8e;
    color: #ffffffff;
    border: none;
    box-shadow: 1px 3px 1px 3px #c55669;
    border-radius: 4px;
    margin: 10px 0px 10px;
}
.continue-btn:hover{
    padding: 15px 20px;
    background-color: #ff8b5e;
    color: #ffffffff;
    border: none;
    box-shadow: 1px 3px 1px 3px #dd7349;
    border-radius: 4px;
    margin: 10px 0px 10px;
}

.page-title{
    padding: 15px 25px;
    display: block;
    background-color: #dd7349;
}